<!DOCTYPE HTML>
<html>
<head>
  <title>eBLoodBank :: BloodDonationSystem</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="main">
    <div id="header1">
      <div id="lg">
        <div id="lg_text">
          <h1><a href="index.html">eBlood<span class="lg_colour">Bank</span></a></h1>
          <h2>Give the gift of life :: Donate Blood</h2>
        </div>
      </div>
   
      <div id="menubar">
        <ul id="menu">
          <li><a href="index.html">Home</a></li>
          <li class="selected"><a href="login.html">Login</a></li>
          <li><a href="#">Cotact Us</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="news.html">News</a></li>
        </ul>
      </div>
    </div>

    <div id="footer">
      Copyright &copy; eBloodBak | SLIIT | 2022 | MLB_04.1_02 </a>
    </div>
</body>



</html>
