.row{
    inset-block: inline;
    width: 100%;
    display: flex;
}
.col1,.col2{
    width: 50%;
}

ul{
    text-align: justify;
}

.graph{
    min-height: 50%;
    width: 50%;
}

h2{
    text-align: center;
}