* {box-sizing: border-box;
    font-family: 'Poppins',sans-serif;}

body{
    background-image:url('../images/back.webg');
    background-position: center;
    background-size: cover;
}


form{
    width: 50%;
    height: fit-content;
    box-shadow: 0 0 3px o rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: left;
    align-content: center;
}

.from-group{
    margin-bottom: 20px;
}

/* Add padding to containers */
.container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=email], input[type=password]
  {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border:none;
    background: #efc5c5;
  }
  
  input[type=email]:focus, input[type=password]:focus
  {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  button {
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    align-content: center;
  }
  .container{
    align-items: center;
  }
 
  button:hover {
    opacity:1;
  }
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }

  p{
    text-align: center;
  }

  /* Set a grey background color and center the text of the "sign in" section */
  .signin-btn{
    background-color:red;
    text-align: center;
  }

  .avatar{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

