<!DOCTYPE html>
<html>
    <head>
        <title> login</title>
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <header>
            <div id="main">
                <div id="header1">
                  <div id="lg">
                    <div id="lg_text">
                      <h1><a href="index.html">eBlood<span class="lg_colour">Bank</span></a></h1>
                      <h2>Give the gift of life :: Donate Blood</h2>
                    </div>
                  </div>
                  <div id="menubar">
                    <ul id="menu">
                      <li><a href="../../Nadula/Nadula/index.html">Home</a></li>
                      <li><a href="news.html">News</a></li>
                      <li class="selected"><a href="../../Nadula/Nadula/login.html">Login</a></li>
                      <li><a href="../../Dilmi/Dilmi/-contacts.html">Cotact Us</a></li>
                      <li><a href="../../Dilmi/Dilmi/-about1.html">About Us</a></li>
                      
                    </ul>
                    </div>
                </div>
            </div>
        </header>
       
        <form class="modal-content animate" action="form.php" method="post">
            <div class="imgcontainer">
              <img src="./images/avatar.jpeg" alt="Avatar" class="avatar">
            </div>

        <div class="container">
        <form action="post">
            <input type="email" class="input-box" placeholder="Username or Email"> <br>
            <input type="password" class="input-box" placeholder="Password"> <br>
                <label>Remember me
                <input type="checkbox" name="remember me " id="Rmember me">
            </label>
            <br><br>
            <button type="button" class="signin-btn">Sing In</button>
            <hr>
            <p class="or"> OR </p>
            <button type="button" class="google-btn">Sign in with Google</button>
            <button type="button" class="facebook-btn">Sign in with Facebook</button>
            <p> Don't have an account ? <a href="Register.html">Register </a> </p>
        </form>    
        </div>
    </div>
    <br><br>
    <footer>
            Copyright &copy; eBloodBak | SLIIT | 2022 | MLB_04.1_02
    </div>
    </footer>
    </body>
</html>