<!DOCTYPE html>
<html>
    <head>
        <title>news</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/news.css">
    </head>
    <body>
        <header>
            <div id="main">
                <div id="header1">
                  <div id="lg">
                    <div id="lg_text">
                      <h1><a href="index.html">eBlood<span class="lg_colour">Bank</span></a></h1>
                      <h2>Give the gift of life :: Donate Blood</h2>
                    </div>
                  </div>
                  <div id="menubar">
                    <ul id="menu">
                      <li><a href="../../Nadula/Nadula/index.html">Home</a></li>
                      <li  class="selected"><a href="news.html">News</a></li>
                      <li><a href="../../Nadula/Nadula/login.html">Login</a></li>
                      <li><a href="../../Dilmi/Dilmi/contacts.html">Cotact Us</a></li>
                      <li><a href="../../Dilmi/Dilmi/about1.html">About Us</a></li>
                      
                    </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class ="middle">
            <h1>News</h1>
        </div>
        <div class = "row">
    <div class="col1">
    <h2> Recently </h2>
    <ul>
        <li><b>Blood Donation Camp Organised At World Health Organization</b><br>10<sup>th</sup> 
            July 2022 At Colombo National Hospital</li><br>
        <li><b>Save Us From Coronavirus, Sri Lanka! Donate Blood </b><a href="ghjhh"target="_blank">see more</a></li><br>
        <li><b>When was your last Blood Donation ?</b><br>Health, eligible individuals are strongly 
            urged to donate to help avoid potential shortages due to corovirus.</li><br>
        <li><b>In about and hour, give blood and help save live </b><a href="ghjhh"target="_blank">see more</a></li>
    </ul>
    </div>
    <div class="col2">
        <h2>Patient growth over the last year</h2>
        <img src="./images/patient.png" alt="graph" class="graph">
    </div>
</div>
<footer>
        <div id="footer">
            Copyright &copy; eBloodBak | SLIIT | 2022 | MLB_04.1_02 </a>
        </div>
    </footer>
</div>
</body>
</html>